.rbc-calendar {
  flex: 1;
  min-height: 640px;
  margin: 10px 0;
}

.rbc-month-row {
  flex-basis: 0;
}

.rbc-event {
  background-color: #286DC0;
}

.rbc-event a {
  text-decoration: none;
}

@media screen and (max-width: 39.9375em) {
  #rbc-btn-right {
    display: none;
  }

  .rbc-calendar {
    min-height: 480px;
  }
}
